
<!--Header-->


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/welcomepage"><span class="fa fa-home"></span></a>
            <a class="navbar-brand">Admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/searchresults/donuts"><span class="fa fa-search"></span>Search</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->

<div class="container top">
    <a href="#/adminusers" class="btn btn-block btn-success">Users ({{model.userCount}})</a>
    <a href="#/adminrecipes" class="btn btn-block btn-primary">Recipes ({{model.recipeCount}})</a>

    <h3>The following are features of a user type ADMIN</h3>
    <div class="list-group">
        <div class="list-group-item">All features of a regular end user</div>
        <div class="list-group-item">All CRUD operations on user and user created recipes</div>
        <div class="list-group-item">Create a new Enduser or an Admin user</div>
        <div class="list-group-item">View User Profiles</div>
        <div class="list-group-item">Update certain user information</div>
        <div class="list-group-item">Delete a user</div>
        <div class="list-group-item">View all user created Recipes</div>
        <div class="list-group-item">Manage user created recipes - Delete when flagged as spam and reset spam status</div>
    </div>
</div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">

        </div>
    </div>
</nav>

<!--Footer End-->
