
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Our Foodsters!
            </a>
        </p>


    </div>
</nav>
<!--Header End-->




<div class="container top">


    <div ng-repeat="user in model.users"
         class="list-group">
        <a href="#/user/{{user._id}}"><h3>{{user.username}}</h3></a>
        <h3>{{user.firstName}} {{user.lastName}}</h3>
        <h5>{{user.username}}'s Foodster thought:</h5>
        <a><h6>{{user.foodiethought}}</h6></a>
        <h6>{{user.username}}'s Favorite Recipes:</h6>
        <div ng-repeat="recipe in user.favrecipes"
             class="list-group">
            <a href="#/recipe/{{recipe.recipeId}}"><h5>{{recipe.recipeName}}</h5></a>
        </div>
    </div>

</div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
