
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/welcomepage"><span class="fa fa-home"></span></a>
            <a class="navbar-brand">Followers</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/searchresults/cupcakes"><span class="fa fa-search"></span>Search</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->
<!--{{model.user}}-->


<div class="container top">
    <div ng-repeat="user in model.user.followedByUsers"
         class="list-group">
        <a href="#/user/{{user.userId}}">
            <h4>{{user.username}}</h4></a>
            <h5>Foodiethought: {{user.foodiethought}}</h5>

    </div>

</div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text">
            Food is awesome!
        </div>
    </div>
</nav>

<!--Footer End-->
