
<!--Header End-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="model.goBack()"><span class="fa fa-backward"></span></a>
            <a class="navbar-brand">{{model.user.username}}'s Profile</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/searchresults/spaghetti"><span class="fa fa-search"></span>Search</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->

    <div class="container top">


        <!--<div ng-show="model.success"-->
        <!--class="alert alert-success">{{model.success}}</div>-->

        <!--<div ng-show="model.error"-->
        <!--class="alert alert-danger">{{model.error}}</div>-->
        <h3>{{model.user.firstName}} {{model.user.lastName}}</h3>
        <h4>{{model.user.email}}</h4>
        <h3>Check out the Recipes {{model.user.username}} created:</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4"
                 ng-repeat="recipe in model.createdRecipes">
                <a href="#/recipe/{{recipe._id}}">
                    <h4>{{recipe.name}}</h4>

                    <div class="embed-responsive embed-responsive-4by3">
                        <img ng-src="{{recipe.imageurl}}"
                             width="100%"
                             class="img-responsive image-style"/></div>

                    <div class="row">

                        <h6 class="col-xs-4">Servings: {{recipe.servings}}</h6>
                        <h6 class="col-xs-4">Cooking Time: {{recipe.preptime}}+{{recipe.cooktime}} mins</h6>
                        <h6 class="col-xs-4">Course: {{recipe.course}}</h6>

                    </div>

                </a>

            </div>
        </div>

        <h3>{{model.user.username}}'s Favourites:</h3>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4"
                 ng-repeat="recipe in model.user.favrecipes">
                <a href="#/recipe/{{recipe.recipeId}}">
                    <h4>{{recipe.recipeName}}</h4>

                    <div class="embed-responsive embed-responsive-4by3">
                        <img ng-src="{{recipe.imageurl}}"
                             width="100%"
                             class="img-responsive image-style"/></div>

                    <div class="row">

                         <h6 class="col-xs-12">Course: {{recipe.course}}</h6>

                    </div>

                </a>

            </div>
        </div>

        <h3>Followers:</h3>
        <div ng-repeat="user in model.user.followedByUsers"
             class="list-group">
            <a href="#/user/{{user._id}}">
                <h4>{{user.username}}</h4></a>
                <h5>Foodiethought: {{user.foodiethought}}</h5>

        </div>

        <h3>Following:</h3>
        <div ng-repeat="user in model.user.followingUsers"
             class="list-group">
            <a href="#/user/{{user._id}}">
                <h4>{{user.username}}</h4></a>
                <h5>Foodiethought: {{user.foodiethought}}</h5>

        </div>

        <a ng-if="model.unfollowed"
           ng-click="model.follow(model.user._id, model.user.username, model.user.foodiethought)"
           class="btn btn-success btn-block">
            <span class="fa fa fa-heart"></span>Follow</a>

        <a ng-if="model.followed" ng-click="model.unfollow(model.user._id)"
           class="btn btn-danger btn-block">
            <span class="fa fa fa-trash"></span>Unfollow</a>

    </div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
