
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                My Profile
            </a>
        </p>


    </div>
</nav>
<!--Header End-->

<!--{{model.user}}-->


    <div class="container top">

        <h4>Please spend some time updating your profile or get started by clicking below</h4>
        <a href="/welcomepage" class="btn btn-block btn-success">Get Started!!</a>

        <!--<div ng-show="model.success"-->
        <!--class="alert alert-success">{{model.success}}</div>-->

        <!--<div ng-show="model.error"-->
        <!--class="alert alert-danger">{{model.error}}</div>-->

        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="pfitz"
                       readonly
                       ng-model="model.user.username">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       ng-model="model.user.email"
                       placeholder="phill.f@example.com">
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text"
                       class="form-control"
                       id="first-name"
                       ng-model="model.user.firstName"
                       placeholder="Phill">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text"
                       class="form-control"
                       id="last-name"
                       ng-model="model.user.lastName"
                       placeholder="Fitzgerald">
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text"
                       class="form-control"
                       id="phone"
                       ng-model="model.user.phone"
                       placeholder="+1 (617) 459 0421">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea type="text"
                       class="form-control"
                       id="address"
                       rows="5"
                       ng-model="model.user.address"
                       placeholder=""></textarea>
            </div>
            <div class="form-group">
                <label for="foodiethought">Share some Foodie thoughts!</label>
                <textarea type="text"
                          class="form-control"
                          id="foodiethought"
                          rows="7"
                          ng-model="model.user.foodiethought"
                          placeholder=""></textarea>
            </div>
        </form>
        <a class="btn btn-primary btn-block"
           href="#">Save Changes</a>
        <a class="btn btn-danger btn-block"
           href="#/register"
           role="button">Unregister</a>
    </div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
