
<div class="container">

    <div ng-if="model.error"
         class="alert alert-danger">{{model.error}}</div>

    <h1 class="center-any-text">Login</h1>
    <input ng-model="username"
           type="text"
           class="form-control"
           placeholder="Username"/>
    <input ng-model="password"
           type="password"
           class="form-control"
           placeholder="Password"/>
    <a href="#/welcomepage"
       class="btn btn-primary btn-block">Login</a>
    <a href="#/register" class="btn btn-success btn-block">Register</a>
    <h3 class="center-any-text">OR</h3>
    <a class="btn btn-primary btn-block">Login with <strong>Facebook</strong></a>
    <a class="btn btn-danger btn-block">Login with <strong>Google+</strong></a>

</div>
