
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                My Profile
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="#/login"
               class="navbar-link">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<!--{{model.user}}-->

<div class="body-nonindex">
    <div class="container">
        <div class="list-group">
            <a href="#/personalinfo" class="list-group-item">
                Personal Information
            </a>
            <a href="#/myrecipes" class="list-group-item">My Recipes</a>
            <a href="#/favourites" class="list-group-item">Favourites</a>
            <a href="#/myphotos" class="list-group-item">My Photos</a>
            <a href="#/following" class="list-group-item">Following</a>
            <a href="#/followers" class="list-group-item">Followers</a>
            <a href="#/cookedrecipes" class="list-group-item">Cooked Recipes</a>
        </div>
    </div>
</div>

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
