<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Hungry? Search Away!!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div ng-if="model.loggedIn" class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()">Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/welcomepage">Home</a>
                </li>
            </ul>
        </div>

        <div ng-if="model.notLoggedIn" class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#/login">Login</a>
                </li>
                <li class="page-scroll">
                    <a href="#/register">Sign Up</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->


<div class="container">
    <div class="body-nonindex">
        <h4>Search with any cuisine, ingredient, dish. Basically, anything food!!</h4>
        <div class="input-group">
            <input ng-model="model.searchText"
                   type="text"
                   placeholder="Search with an ingredient, dish.."
                   class="form-control">
                        <span class="input-group-btn">
                            <a ng-click="model.searchRecipes(model.searchText)"
                               class="btn btn-info" type="button">
                                <span><strong>Search Recipes</strong></span>
                            </a>
                        </span>
        </div>
    </div>
</div>

<div class="container">
    <div ng-repeat="recipe in model.recipes"
         class="list-group">
        <a href="#/recipe/{{recipe.id}}">
            <h4>{{recipe.recipeName}}</h4>
            <div class="row">
                <div class="col-xs-4">
                    <img ng-src="{{recipe.smallImageUrls[0]}}"
                         width="100%"
                         class="img-thumbnail"
                         class="img-responsive"/>
                </div>
                <div class="col-xs-8">
                    <div class="list-group">
                        <h6 class="list-group-item">Rating: {{recipe.rating}}/5</h6>
                        <h6 class="list-group-item">Cooking Time: {{recipe.totalTimeInSeconds / 60}} mins</h6>
                        <h6 class="list-group-item">No. of Ingredients: {{recipe.ingredients.length + 1}}</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
