
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Welcome!!
            </a>
        </p>

        <p class="navbar-text pull-right">
            <a href="#/login"
               class="navbar-link">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </p>

        <p class="navbar-text pull-right">
            <a href="#/profile"
               class="navbar-link">
                User's Name
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<!--{{model.user}}-->
<div class="container">
    <div class="body-nonindex">
        <h4>Search with any cuisine, ingredient, dish. Basically, anything food!!</h4>
        <div class="input-group">
            <input ng-model="searchText"
                   type="text"
                   placeholder="Search with an ingredient, dish.."
                   class="form-control">
                        <span class="input-group-btn">
                            <a class="btn btn-info" type="button">
                                <span><strong>Search Recipes</strong></span>
                            </a>
                        </span>
        </div>
    </div>
</div>

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
