
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Welcome, {{model.user.username}}!!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()">Logout</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!--Header End-->

<div class="container">



    <div class="body-nonindex">

        <h4>Search with any cuisine, ingredient, dish. Basically, anything food!!</h4>
        <div class="input-group">
            <input ng-model="model.searchText"
                   type="text"
                   placeholder="Search with an ingredient, dish.."
                   class="form-control">
                        <span class="input-group-btn">
                            <a href="#/searchresults/{{model.searchText}}"
                               class="btn btn-info"
                               type="button">
                                <span><strong>Search Recipes</strong></span>
                            </a>
                        </span>
        </div>
        <p></p>
        <a ng-click="model.createRecipe()"
                class="btn btn-block btn-warning">Create Recipe</a>

        <h2 class="center-any-text">My Links</h2>
        <div class="list-group">
            <a href="#/personalinfo">
                <span class="list-group-item">
                    <strong>Personal Information</strong>
                    <div class="fa fa-user fa-2x pull-right"></div>
                </span>
            </a>
            <a href="#/favourites">
                <span class="list-group-item">
                    <strong>My Favourites</strong>
                    <div class="fa fa-heart fa-2x pull-right"></div>
                </span>
            </a>
            <a href="#/followers">
                <span class="list-group-item">
                    <strong>Followers</strong>
                    <div class="fa fa-users fa-2x pull-right"></div>
                </span>
            </a>
            <a  href="#/followedby">
                <span
                      class="list-group-item">
                    <strong>Followed by me</strong>
                    <div class="fa fa-user-plus fa-2x pull-right"></div>
                </span>
            </a>
            <a href="#/myrecipes">
                <span  class="list-group-item">
                    <strong>Recipes I created</strong>
                    <div class="glyphicon glyphicon-glass pull-right"></div>
                </span>
            </a>
            <a href="#/cookedrecipes">
                <span
                      class="list-group-item">
                    <strong>Recipes I cooked</strong>
                    <div class="fa fa-user fa-2x pull-right"></div>
                </span>
            </a>
            <a href="#/grocerylist">
                <span
                      class="list-group-item">
                    <strong>My Grocery List</strong>
                    <div class="fa fa-list fa-2x pull-right"></div>
                </span>
            </a>
        </div>
    </div>


</div>


<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
