<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="model.goBack()"><span class="fa fa-backward"></span></a>
            <a class="navbar-brand">Ingredients</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <!--<div class="navbar-collapse" ng-class="{collapse: isCollapsed}">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="page-scroll">-->
                    <!--<a ng-click="model.logout()">Logout</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<a href="#/searchresults/cupcakes">Seach for Recipes</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->

<div class="container top">


    <form novalidate name="model.myForm">

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ingredient">Ingredients</label>
                    <input type="text"
                           class="form-control"
                           id="ingredient"
                           placeholder="Ingredient Name"
                           ng-model="model.ingredient.name">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="text"
                           class="form-control"
                           id="quantity"
                           placeholder="Quanity"
                           ng-model="model.ingredient.quantity">
                </div>
            </div>
            <div class="col-xs-3">
                <div class="form-group">
                    <label for="button">Add</label>
                    <a id="button"
                       ng-click="model.createIngredient(model.ingredient)"
                       class="btn btn-block btn-success"><span class="fa fa-plus"></span></a>
                </div>
            </div>
        </div>
    </form>



        <div
             ng-repeat="ingredient in model.ingredients"
             class="container-fluid">
            <a>{{ingredient.name}} - {{ingredient.quantity}}</a>
            <p class="pull-right">
                <a ng-click="model.deleteIngredient(ingredient._id)">
                    <span class="fa fa-minus"></span>
                </a>
            </p>
        </div>




    <a href="#/recipe/{{model.recipeId}}"
       class="btn btn-block btn-success">View Full Recipe</a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

