<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website"
               class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Edit Website
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a ng-click="model.updateWebsite(model.websiteId, model.website)"
               class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<div class="container">


    <div ng-show="model.error"
         class="alert alert-danger">{{model.error}}</div>

    <form novalidate name="model.myForm">
        <div class="form-group">
            <label for="website-name">Website Name</label>
            <span ng-show="model.myForm.name.$invalid">
                <h6>{{model.alert}}</h6>
            </span>
            <input type="text"
                   name="name"
                   required
                   ng-model="model.website.name"
                   class="form-control"
                   id="website-name"
                   placeholder="Website Name" required>
        </div>
        <div class="form-group">
            <label for="website-description">Website Description</label>
            <textarea ng-model="model.website.description"
                      type="text"
                      rows="5"
                      class="form-control"
                      id="website-description"
                      placeholder="Write a short description for your website">
            </textarea>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWebsite(model.websiteId)"
       role="button">Delete</a>


</div>

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a>
                    <span class="glyphicon glyphicon-share"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->