
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">


        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Websites
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>

    </div>
</nav>

<!--Header End-->


<div class="container">

        <div ng-repeat="website in model.websites"
             class="container-fluid">
            <a href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
            <p class="pull-right">
                <a href="#/user/{{website._user}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog website-navs"></span>
                </a>
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-play website-navs"></span>
                </a>
            </p>
        </div>


</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
