input.form-control{
    margin-bottom: 5px;
}

body{
    padding-top: 70px;
    padding-bottom: 80px;
}




img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: auto;
}

.glyph-pos{
    position: relative;
    width: 160px;
}
.glyph-pos .glyphicon-cog {
    left: 0;
    position: absolute;
    top: 2px;
}

p.navbar-text.pull-left{
    padding-left: 15px;
}

p.navbar-text.pull-right{
    padding-right: 15px;
}



p.navbar-header.pull-left{
    padding-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index: 2;
}

.navbar-default{
    background: lightgray;

}

.list-element{
    padding-bottom: 10px;
}

.home-page-head{
    color: darkblue;
    font-family: "Comic Sans MS";
}

div.photo-layout{
    border: ridge;
    border-color: cornflowerblue;
    box-shadow: 5px 5px 5px lightblue;
}

a{
    cursor: hand;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h6{
    color: red;
}

input.ng-invalid{
    background-color: lightyellow;
}