input.form-control{
    margin-bottom: 5px;
}

body{
    padding-top: 70px;
    padding-bottom: 80px;
}

.logo{
    color: lightseagreen;

}

.ok-logo{
    padding-right: 20px;
}

.back-logo{
    padding-left: 20px;
}

.website-navs{
    padding-right: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: auto;
}

.glyph-pos{
    position: relative;
    width: 160px;
}
.glyph-pos .glyphicon-cog {
    left: 0;
    position: absolute;
    top: 2px;
}

p.navbar-text.pull-right{
    padding-right: 15px;
}

p.navbar-text.pull-left{
    padding-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

