<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">



        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Create Recipe
            </a>
        </p>



    </div>


</nav>
<div class="container top">

<form novalidate name="model.myForm">
    <div class="form-group">
        <label for="recipe-name">Name</label>
            <!--<span ng-show="model.myForm.name.$invalid">-->
                <!--<h6>{{model.alert}}</h6>-->
            <!--</span>-->
        <input type="text"
               name="name"
               required
               class="form-control"
               id="recipe-name"
               placeholder="Name"
               ng-model="model.recipe.name">
    </div>
    <div class="form-group">
        <label for="cuisine">Cuisine</label>
        <input type="text"
               class="form-control"
               id="cuisine"
               placeholder="Cuisine"
               ng-model="model.recipe.cuisine">
    </div>
    <div class="form-group">
        <label for="servings">Servings</label>
        <input type="text"
               class="form-control"
               id="servings"
               placeholder="Servings"
               ng-model="model.recipe.servings">
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <input type="url"
               class="form-control"
               id="course"
               placeholder="Course"
               ng-model="model.recipe.course">
    </div>
    <div>
        <label for="prep-steps">Preparation Steps</label>
        <textarea class="form-control"
                  id="prep-steps"
                  placeholder="Prep Steps"
                  ng-model="model.recipe.preparationsteps"></textarea>
    </div>

    <!--<div class="form-group">-->
    <!--<label for="upload">Upload</label>-->
    <!--<input type="file"-->
    <!--class="form-control"-->
    <!--id="upload">-->
    <!--</div>-->

</form>
    <a ng-click="model.createRecipe(model.recipe)"
            class="btn btn-block btn-success">Create Recipe</a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

