<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand">Edit Recipe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/searchresults/cupcakes"><span class="fa fa-search"></span>Search</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->



<div class="container top">

    <form novalidate name="model.myForm">
        <div class="form-group">
            <label for="recipe-name">Name</label>
                <!--<span ng-show="model.myForm.name.$invalid">-->
                    <!--<h6>{{model.alert}}</h6>-->
                <!--</span>-->
            <input type="text"
                   name="name"
                   required
                   class="form-control"
                   id="recipe-name"
                   placeholder="Name"
                   ng-model="model.recipe.name">
        </div>
        <div class="form-group">
            <label for="cuisine">Cuisine</label>
            <input type="text"
                   class="form-control"
                   id="cuisine"
                   placeholder="Cuisine"
                   ng-model="model.recipe.cuisine">
        </div>
        <div class="form-group">
            <label for="servings">Servings</label>
            <input type="number"
                   class="form-control"
                   id="servings"
                   placeholder="Servings"
                   ng-model="model.recipe.servings">
        </div>
        <div class="form-group">
            <label for="course">Course</label>
            <input type="text"
                   class="form-control"
                   id="course"
                   placeholder="Course"
                   ng-model="model.recipe.course">
        </div>
        <div class="form-group">
            <label for="imageurl">Add an Image</label>
            <input type="url"
                   class="form-control"
                   id="imageurl"
                   placeholder="URL of the image"
                   ng-model="model.recipe.imageurl">
        </div>
        <div class="form-group">
            <label for="preptime">Prep Time</label>
            <input type="number"
                   class="form-control"
                   id="preptime"
                   placeholder="Prep time"
                   ng-model="model.recipe.preptime">
        </div>
        <div class="form-group">
            <label for="cooktime">Cook Time</label>
            <input type="number"
                   class="form-control"
                   id="cooktime"
                   placeholder="Cook time"
                   ng-model="model.recipe.cooktime">
        </div>
        <!--<div class="row">-->
            <!--<div class="col-xs-6">-->
                <!--<div class="form-group">-->
                    <!--<label for="ingredient">Ingredients</label>-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--id="ingredient"-->
                           <!--placeholder="Ingredient Name"-->
                           <!--ng-model="ingredientName">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-3">-->
                <!--<div class="form-group">-->
                    <!--<label for="quantity">Quantity</label>-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--id="quantity"-->
                           <!--placeholder="Quanity"-->
                           <!--ng-model="ingredientQuantity">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-3">-->
                <!--<div class="form-group">-->
                    <!--<label for="button">Add</label>-->
                    <!--<a id="button"-->
                       <!--class="btn btn-block btn-success">Add Ingredient</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <label for="prep-steps">Preparation Steps</label>
            <textarea class="form-control"
                      id="prep-steps"
                      placeholder="Prep Steps"
                      ng-model="model.recipe.preparationsteps"></textarea>
        </div>

        <!--<div class="form-group">-->
        <!--<label for="upload">Upload</label>-->
        <!--<input type="file"-->
        <!--class="form-control"-->
        <!--id="upload">-->
        <!--</div>-->

    </form>
    <p></p>
    <form action="/api/project/upload"  method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="recipeId" value="{{model.recipe._id}}"   style="display: none"/>
        <input  name="userId" value="{{model.recipe._user}}"   style="display: none"/>
        <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <p></p>
    <a ng-click="model.updateRecipe(model.recipe)"
       class="btn btn-block btn-success">Go ahead and add ingredients to finish!</a>
    <p></p>
    <a ng-click="model.deleteRecipe(model.recipe._id)"
       class="btn btn-block btn-danger">Delete!</a>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text">
                Food is life!
            </p>
        </div>
    </div>
</nav>

