
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">



        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                My Recipes
            </a>
        </p>



    </div>


</nav>

<!--Header End-->


<div class="container top">

        <div ng-repeat="recipe in model.recipes"
             class="container-fluid">
            <a href="#/recipe/{{recipe._id}}">{{recipe.name}}</a>
            <p class="pull-right">
                <a href="#/recipe/{[recipe._id}}">
                    <span class="fa fa-cogs"></span>
                </a>
            </p>
        </div>


</div>

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
