<!--{{model.recipe}}-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    ng-init="isCollapsed = true"
                    ng-click="isCollapsed = !isCollapsed">
                <!--data-target="#bs-example-navbar-collapse-1">-->
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="#/welcomepage"><span class="fa fa-home"></span></a>
            <a class="navbar-brand"
               href="#/allrecipes"><span class="fa fa-list"></span></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a ng-click="model.logout()"><span class="fa fa-sign-out"></span>Logout</a>
                </li>
                <li class="page-scroll">
                    <a href="#/searchresults/lobster"><span class="fa fa-search"></span>Search</a>
                </li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!--Header End-->



<div ng-if="model.userrecipe" class="container top">


    <h2>{{model.userrecipe.name}} - Created by<a href="#/user/{{model.user._id}}">{{model.user.username}}</a></h2>

    <a ng-if="model.unliked"
       ng-click="model.addToFavs(model.userrecipe.name, model.userrecipe._id, model.userrecipe.rating, model.userrecipe.imageurl)"
       class="btn btn-success btn-block">
        <span class="fa fa-heart"></span>Add to favourites</a>

    <a ng-if="model.liked" ng-click="model.removeFromFavs(model.userrecipe._id)"
       class="btn btn-danger btn-block">
        <span class="fa fa-trash"></span>Remove from favourites</a>


    <div class="row">
        <div class="col-xs-4">
            <h5>Servings: {{model.userrecipe.servings}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Prep Time: {{model.userrecipe.preptime}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Course: {{model.userrecipe.course}}</h5>
        </div>
    </div>
    <img ng-src="{{model.userrecipe.imageurl}}"
         class="img-responsive"
         width="100%"/>
    <div class="row">
        <div class="col-xs-4">
            <h5>Cuisine: {{model.userrecipe.cuisine}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Cook Time: {{model.userrecipe.cooktime}} min</h5>
        </div>
        <div class="col-xs-4">
            <h5>Total-Time: {{model.userrecipe.cooktime}} min</h5>
        </div>
    </div>
    <div ng-if="model.groc" class="alert alert-success">
        {{model.groc}}
    </div>

    <a href="#/grocerylist"
       class="btn btn-primary btn-block">
        <span class="fa fa-list"></span>View Grocery List</a>

    <h3>Ingredients:</h3>
    <div ng-repeat="ing in model.ingredients"
         class="list-group">
        <div>
            <div class="row">
                <div class="col-xs-5"><h5>{{ing.name}}</h5></div>
                <div class="col-xs-5"><h5>{{ing.quantity}}</h5></div>
                <a ng-click="model.addToGrocList(ing)"><div class="col-xs-2"><span class="fa fa-2x fa-plus-square pull-right"></span></div></a>
            </div>
        </div>
    </div>
    <div>
        <h3>Preperation Steps:</h3>
        <p>{{model.userrecipe.preparationsteps}}</p>
    </div>

    <div ng-if="model.success" class="alert alert-warning">{{model.success}}</div>
    <a ng-hide="model.reported" ng-click="model.flagAsSpam(model.userrecipe._id)"
       class="btn btn-danger btn-block">
        <span class="fa fa-trash-o"></span>Report As Spam</a>
</div>


<div ng-if="model.recipe" class="container top">


    <h2>{{model.recipe.name}}</h2>

    <a ng-if="model.unliked" ng-click="model.addToFavs(model.recipe.name, model.recipe.id, model.recipe.rating, model.recipe.images[0].hostedLargeUrl)"
       class="btn btn-success btn-block">
        <span class="fa fa fa-heart"></span>Add to favourites</a>

    <a ng-if="model.liked" ng-click="model.removeFromFavs(model.recipe.id)"
       class="btn btn-danger btn-block">
        <span class="fa fa fa-trash"></span>Remove from favourites</a>

    <div class="row">
        <div class="col-xs-4">
            <h5>Servings: {{model.recipe.yield}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Rating: {{model.recipe.rating}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Course: {{model.recipe.attributes.course[0]}}</h5>
        </div>
    </div>
    <img ng-src="{{model.recipe.images[0].hostedLargeUrl}}"
         class="img-responsive"
         width="100%"/>
    <div class="row">
        <div class="col-xs-4">
            <h5>Holiday: {{model.recipe.attributes.holiday[0]}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Prep-Time: {{model.recipe.prepTime}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Total-Time: {{model.recipe.totalTime}}</h5>
        </div>
    </div>

    <div ng-if="model.groc" class="alert alert-success">
        {{model.groc}}
    </div>

    <a href="#/grocerylist"
       class="btn btn-primary btn-block">
        <span class="fa fa-list"></span>View Grocery List</a>

    <h3>Ingredients:</h3>
    <div ng-repeat="ing in model.recipe.ingredientLines  track by $index"
         class="list-group">
         <div>{{ing}}<a ng-click="model.addToGrocList(ing)"><span class="fa fa-2x fa-plus-square pull-right"></span></a></div>
    </div>

    <a type="button"
       class="btn btn-success btn-block"
       href="{{model.recipe.source.sourceRecipeUrl}}">Full Recipe Here</a>
    <!--Nutritiion Attributes-->
    <!--<h3>Nutrition Estimates:</h3>-->
    <!--<div ng-repeat="estimate in model.recipe.nutritionEstimates">-->
        <!--<h6>{{estimate.description}}: {{estimate.value}} {{estimate.unit.pluralAbbreviation}}</h6>-->
    <!--</div>-->

</div>


<!--{{model.recipe.nutritionEstimates}}-->

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-home"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
