<!--{{model.recipe}}-->
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">

</nav>


<div class="container for-padding">

    <h2>{{model.recipe.name}}</h2>

    <a class="btn btn-success btn-block">
        <span class="fa fa fa-heart"></span>Add to favourites</a>
    <div class="row">
        <div class="col-xs-4">
            <h5>Servings: {{model.recipe.yield}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Rating: {{model.recipe.rating}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Course: {{model.recipe.attributes.course[0]}}</h5>
        </div>
    </div>
    <img ng-src="{{model.recipe.images[0].hostedLargeUrl}}"
         class="img-responsive"
         width="100%"/>
    <div class="row">
        <div class="col-xs-4">
            <h5>Holiday: {{model.recipe.attributes.holiday[0]}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Prep-Time: {{model.recipe.prepTime}}</h5>
        </div>
        <div class="col-xs-4">
            <h5>Total-Time: {{model.recipe.totalTime}}</h5>
        </div>
    </div>
    <h3>Ingredients:</h3>
    <div ng-repeat="ing in model.recipe.ingredientLines"
         class="list-group">
         <div>{{ing}}<span class="fa fa-2x fa-plus-square pull-right"></span></div>
    </div>

    <a type="button"
       class="btn btn-success btn-block"
       href="{{model.recipe.source.sourceRecipeUrl}}">Full Recipe Here</a>
    <!--Nutritiion Attributes-->
    <!--<h3>Nutrition Estimates:</h3>-->
    <!--<div ng-repeat="estimate in model.recipe.nutritionEstimates">-->
        <!--<h6>{{estimate.description}}: {{estimate.value}} {{estimate.unit.pluralAbbreviation}}</h6>-->
    <!--</div>-->

</div>


<!--{{model.recipe.nutritionEstimates}}-->

<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/welcomepage">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
