
<!--Header-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/:uid/website" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Pages
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="#/user/:uid/website/:wid/page/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>

    </div>
</nav>


<!--Header End-->


<div class="container">

    <div class="container-fluid">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">Blog Post</a>
        <p class="pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>

    <div class="container-fluid">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">Blogs</a>
        <p class="pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>

    <div class="container-fluid">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">Home</a>
        <p class="pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>

    <div class="container-fluid">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">About</a>
        <p class="pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>

    <div class="container-fluid">
        <a href="#/user/:uid/website/:wid/page/:pid/widget">Contact Us</a>
        <p class="pull-right">
            <a href="#/user/:uid/website/:wid/page/:pid">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>


</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/:uid">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<!--Footer End-->
