
<!--Header-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Pages
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>

    </div>
</nav>


<!--Header End-->


<div class="container">

    <div ng-repeat="page in model.pages"
         class="container-fluid">
        <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}/widget">{{page.name}}</a>
        <p class="pull-right">
            <a href="#/user/{{model.userId}}/website/{{page._website}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog website-navs"></span>
            </a>
        </p>
    </div>



</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
<!--Footer End-->
