

<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="widget-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Edit YouTube Widget
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="widget-list.html" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<div class="container">

    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Name"
                   value="Summer Dish">
        </div>
        <div class="form-group">
            <label for="heading-text">Text</label>
            <input type="text"
                   class="form-control"
                   id="heading-text"
                   placeholder="Text"
                   value="Learn how to cook this">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url"
                   class="form-control"
                   id="url"
                   placeholder="URL of the Video"
                   value="https://youtube-url.com">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text"
                   class="form-control"
                   id="width"
                   placeholder="Width of the video"
                   value="100%">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       href="widget-list.html"
       role="button">Delete</a>


</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
