

<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Edit YouTube Widget
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<div class="container">
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <form novalidate name="model.myForm">
        <div class="form-group">
            <label for="widget-name">Name</label>
            <span ng-show="model.myForm.name.$invalid">
                <h6>{{model.alert}}</h6>
            </span>
            <input type="text"
                   name="name"
                   required
                   class="form-control"
                   id="widget-name"
                   placeholder="Name"
                   ng-model="model.widget.name">
        </div>
        <div class="form-group">
            <label for="heading-text">Text</label>
            <input type="text"
                   class="form-control"
                   id="heading-text"
                   placeholder="Text"
                   ng-model="model.widget.text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url"
                   class="form-control"
                   id="url"
                   placeholder="URL of the Video"
                   ng-model="model.widget.url">
        </div>
        <div class="form-group">
            <label for="width">Width</label>
            <span ng-show="model.myForm.width.$invalid">
                <h6>{{model.widthalert}}</h6>
            </span>
            <input type="text"
                   name="width"
                   required
                   class="form-control"
                   id="width"
                   placeholder="Width of the video"
                   ng-model="model.widget.width">
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widgetId)"
       role="button">Delete</a>


</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
