

<!--Header-->

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Choose Widget
            </a>
        </p>

    </div>
</nav>

<!--Header End-->

<div class="container">


    <div class="container-fluid list-element">
        <a ng-click="model.createHeaderWidget(model.pageId)">Header</a>
    </div>

    <div class="container-fluid list-element">
        <a ng-click="model.createImageWidget(model.pageId)">Image</a>
    </div>

    <div class="container-fluid list-element">
        <a ng-click="model.createYoutubeWidget(model.pageId)">YouTube</a>
    </div>

    <div class="container-fluid list-element">
        <a>Label</a>
    </div>

    <div class="container-fluid list-element">
        <a ng-click="model.createHtmlWidget(model.pageId)">HTML</a>
    </div>

    <div class="container-fluid list-element">
        <a ng-click="model.createTextWidget(model.pageId)">Text Input</a>
    </div>

    <div class="container-fluid list-element">
        <a>Link</a>
    </div>

    <div class="container-fluid list-element">
        <a>Button</a>
    </div>

    <div class="container-fluid list-element">
        <a>Data Table</a>
    </div>

    <div class="container-fluid list-element">
        <a>Repeater</a>
    </div>

</div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<!--Footer End-->

