
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Widgets
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
               class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->


<!--<wam-sortable data="model.widgets"-->
              <!--userId="model.userId"-->
              <!--websiteId="model.websiteId"-->
              <!--pageId="model.pageId"></wam-sortable>-->

<!--{{model.widgets}}-->


<!--<wam-sortable data="{ array: model.widgets,-->
                      <!--userId: model.userId,-->
                      <!--websiteId: model.websiteId }"-->
              <!--callback="model.reorderWidgets(start, stop)"-->
              <!--directivemodel="model"></wam-sortable>-->

<wam-sortable data="model"></wam-sortable>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <!--<div class="navbar-footer">-->
            <p class="navbar-text pull-left">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-play"></span>
                </a>
            </p>
            <p class="navbar-text pull-left">
                <a class="navbar-link">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        <!--</div>-->
    </div>
</nav>

<!--Footer End-->
