
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand">
                Text Edit Widget
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->
<div class="container">
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
    <form novalidate name="model.myForm">
        <div>
            <label for="widget-name">Name</label>
            <span ng-show="model.myForm.name.$invalid">
                <h6>{{model.alert}}</h6>
            </span>
            <input ng-model="model.widget.name"
                   type="text"
                   name="name"
                   required
                   class="form-control"
                   id="widget-name"
                   placeholder="Name">
        </div>
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder"
               class="form-control"/>
        <div class="input-group">
            <input type="text"
                   readonly
                   value="Formatted"
                   class="form-control"/>
            <span class="input-group-addon">
                <input ng-model="model.widget.formatted"
                       type="checkbox"/>
            </span>
        </div>
    </form>
    <p></p>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widgetId)"
       role="button">Delete</a>
</div>


<!--Footer-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->
