
<!--Header-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <p class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>

        <p class="navbar-header pull-left">
            <a class="navbar-brand" href="#">
                Edit Heading Widget
            </a>
        </p>


        <p class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>

    </div>
</nav>
<!--Header End-->

<div class="container">
    <div ng-show="model.error"
         class="alert alert-danger">{{model.error}}</div>

    <form name="model.myForm" novalidate>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <span ng-show="model.myForm.name.$invalid">
                <h6>{{model.alert}}</h6>
            </span>
            <input ng-model="model.widget.name"
                   name="name"
                   required
                   type="text"
                   class="form-control"
                   id="widget-name"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="heading-text">Text</label>
            <span ng-show="model.myForm.text.$invalid">
                <h6>{{model.alert}}</h6>
            </span>
            <input ng-model="model.widget.text"
                   type="text"
                   name="text"
                   required
                   class="form-control"
                   id="heading-text"
                   placeholder="Text">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <span ng-show="model.myForm.size.$invalid">
                <h6>{{model.numalert}}</h6>
            </span>
            <input id="size"
                   name="size"
                   required
                   min="1"
                   max="6"
                   type="number"
                   ng-model="model.widget.size"
                   class="form-control"/>

            <!--<input type="text"-->
                   <!--class="form-control"-->
                   <!--id="size"-->
                   <!--placeholder="Size of the heading">-->
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWidget(model.widgetId)"
       role="button">Delete</a>


</div>

<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--Footer End-->

